# Get your developer token from https://www.evernote.com/api/DeveloperToken.action
# (or https://sandbox.evernote.com/api/DeveloperToken.action for sandbox)
EVERNOTE_DEV_TOKEN=

# Set to 1 to point at sandbox.evernote.com instead of www.evernote.com
EVERNOTE_SANDBOX=0
